//base

$bodyBackgroundColor: #d5e1ef;
$qrScanBackground: #2c7dfa;
$fontStyle: "Outfit", sans-serif;

* {
  font-family: $fontStyle;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: $bodyBackgroundColor;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    text-align: center;
    height: 497px;
    width: 320px;
    background: white;
    padding: 10px;
    border-radius: 10px;

    .cardTextContent {
      font-size: 15px;
    }

    img {
      height: 288px;
      width: 288px;
      border-radius: 10px;
    }

    h4 {
      font-size: 22px;
      padding: 0 15px;
    }

    p {
      padding: 0 18px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

//layout

//state

//component

//theme
